
Tinku/cocos2d/

Tinku/proj\.win32/

Tinku/proj\.win10/

Tinku/proj\.ios_mac

Tinku/proj\.android/

Tinku/proj\.android-studio/\.gradle 
Tinku/proj\.android-studio/local.properties 
Tinku/proj\.android-studio/\.idea/
Tinku/proj\.android-studio/\.DS_Store 
Tinku/proj\.android-studio/\.gitignore
Tinku/proj\.android-studio/proj.android-studio.iml
Tinku/proj\.android-studio/settings.gradle
Tinku/proj\.android-studio/gradlew.bat
Tinku/proj\.android-studio/gradlew
Tinku/proj\.android-studio/gradle/
Tinku/proj\.android-studio/gradle.properties
Tinku/proj\.android-studio/build 
Tinku/proj\.android-studio/build.gradle
Tinku/proj\.android-studio/captures 
Tinku/proj\.android-studio/\.externalNativeBuild 
Tinku/proj\.android-studio/app/Tinku.iml
Tinku/proj\.android-studio/app/proguard-rules.pro
Tinku/proj\.android-studio/app/res
Tinku/proj\.android-studio/app/src
Tinku/proj\.android-studio/app/\.gitignore
Tinku/proj\.android-studio/app/build.gradle


Tinku/proj\.linux/

Tinku/proj\.tizen/

Tinku/\.DS_Store

\.DS_Store
